{% extends 'core/base.html' %}
{% block title %}Gastos {% endblock %}

{% block background %}{% load static %}{% static 'core/img/portfolio.jpg' %}{% endblock %}
{% block headers %}
<h1>Gastos</h1>
<span class="subheading">Control de Gastos</span>
{% endblock %}

{% block content %}
<!-- Proyecto -->

<div class="container">
    <h4 class="subheading">Tabla de gastos</h4>
    <table id="tablaTransacciones" class="table table-responsive">
        <tbody id="tbody">
            <tr>
                <th>Categoria</th>
                <th>Descripcion</th>
                <th>Monto</th>
            </tr>
            {% for project in projects %}
            <tr>
                <td>{{project.categoria}}</td>
                <td>{{project.descripcion}}</td>
                <td>{{project.monto}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    let row = document.createElement("tr");
    
    let tabdes = document.createElement("td");
    tabdes.innerHTML = `{{project.descripcion}}`;

    let tabcat = document.createElement("td");
    tabcat.innerHTML = `{{project.categoria}}`;

    let tabcos = document.createElement("td");
    tabcos.innerHTML = `{{project.costo}}`;

    row.appendChild(tabdes);
    row.appendChild(tabcat);
    row.appendChild(tabmes);
    row.appendChild(tabcos);
    tbody.appendChild(row);
</script>

{% endblock %}