{% extends 'core/base.html' %}
{% block title %}Presupuestos {% endblock %}

{% block background %}{% load static %}{% static 'core/img/portfolio.jpg' %}{% endblock %}
{% block headers %}
<h1>Presupuestos</h1>
<span class="subheading">Costos por servicio</span>
{% endblock %}

{% block content %}
<!-- Proyecto -->

<div class="container">
    <h4 class="subheading">Costos por servicio</h4>
    <div class="justify-content-center">
        <table id="tablaTransacciones" class="table table-responsive">
            <tbody id="tbody">
                <tr>
                    <th>Categoría</th>
                    <th>Descripción</th>
                    <th>Monto</th>
                </tr>
                {% for project in projects %}
                <tr>
                    <td>{{project.categoria}}</td>
                    <td>{{project.descripcion}}</td>
                    <td>{{project.monto}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    let row = document.createElement("tr");
    
    let tabdes = document.createElement("td");
    tabdes.innerHTML = `{{project.descripcion}}`;

    let tabcat = document.createElement("td");
    tabcat.innerHTML = `{{project.categoria}}`;

    let tabcos = document.createElement("td");
    tabcos.innerHTML = `{{project.costo}}`;

    row.appendChild(tabdes);
    row.appendChild(tabcat);
    row.appendChild(tabmes);
    row.appendChild(tabcos);
    tbody.appendChild(row);
</script>

{% endblock %}