{% extends 'core/base.html' %}

{% block title %}Sobre nosotros {% endblock %}

{% block background %}{% load static %}{% static 'core/img/about.jpg' %}{% endblock %}

{% block headers %}
<h1>Sobre nosotros</h1>
<span class="subheading">Nuestra historia</span>
{% endblock %}

{% block content %}
<div class="container">
    <h4>¿Quiénes somos?</h4>
    <p>Somos un equipo comprometido de profesionales en finanzas, dedicados a proporcionar soluciones financieras sólidas y personalizadas. Nos esforzamos por brindar asesoramiento experto y servicios de calidad, impulsados por la excelencia y la integridad en cada paso. Nuestra misión es empoderar a nuestros clientes para alcanzar sus metas financieras con confianza y seguridad.</p>
    <p>• Sandra Sánchez</p>
    <p>• Horacio Gutierrez</p>
    <p>• Alberto Plaza</p>
    <p>• Julieta Barros</p>
</div>
{% endblock %}