{% extends 'core/base.html' %}

{% block title %}Sobre nosotros {% endblock %}

{% block background %}{% load static %}{% static 'core/img/about.jpg' %}{% endblock %}

{% block headers %}
<h1>Sobre nosotros</h1>
<span class="subheading">Nuestra historia</span>
{% endblock %}

{% block content %}
<div class="container">
    <h4>¿Quiénes somos?</h4>
    <p>En 2005, un grupo visionario de profesionales financieros se unió para fundar nuestra empresa, con la misión de ofrecer soluciones innovadoras y transparentes en el mundo de las finanzas. A lo largo de los años, hemos consolidado nuestro compromiso con la excelencia, brindando asesoramiento experto y servicios financieros personalizados a nuestros clientes. Nuestra dedicación a la integridad, la confianza y el crecimiento sostenible nos ha posicionado como líderes en el sector, trabajando juntos para construir un futuro financiero sólido para todos.</p>
    <p>• Sandra Sánchez - Lic. en economía</p>
    <p>• Horacio Gutierrez - C.P.N.</p>
    <p>• Alberto Plaza - C.P.N.</p>
    <p>• Julieta Barros - Abogada</p>
</div>
{% endblock %}