{% extends 'core/base.html' %}
{% block title %}Contacto {% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Comunicate con nosotros</span>
{% endblock %}

{% block content %}
<div class="container">
    <h4>Contactanos</h4>
    <i class="fa fa-phone fa-rotate-90"></i>
    <a class="contacto-link" href="https://wa.me/123456789" target="_blank" rel="noreferrer">+1 123 456 789</a>
    <br />
    <i class="fa fa-envelope"></i>
    <a class="contacto-link" href="mailto:info@zonausd.com">info@zonausd.com</a>
</div>
{% endblock %}