{% extends 'core/base.html' %}
{% block title %}Home {% endblock %}

{% block background %}{% load static %}{% static 'core/img/home.jpg' %}{% endblock %}

{% block headers %}
<h1>Zona USD</h1>
<span class="subheading">Compañía financiera</span>
{% endblock %}

{% block content %}
<div class="container">
<h4>Bienvenidos</h4>
<p>Somos Zona USD, tu socio financiero en Argentina.
<p>En Zona USD, entendemos que cada decisión financiera es crucial. Con más de 3 años de experiencia, nos enorgullece ofrecer soluciones financieras sólidas y personalizadas que se adaptan a las necesidades únicas de nuestros clientes argentinos.</p>
<p>Desde asesoramiento en inversiones hasta planificación fiscal, nuestro equipo de expertos está comprometido a guiarte hacia el éxito financiero. Nos destacamos por nuestra integridad, transparencia y dedicación para construir relaciones a largo plazo.</p>
<p>Descubre la tranquilidad financiera con Zona USD. Tu futuro está en buenas manos.</p>
<h4>Nuestros servicios:</h4>
<p>• Asesoramiento financiero</p>
<p>• Cambio de moneda</p>
<p>• Crypto</p>
<p>• Plazo fijo</p>
<p>• Seguros</p>
<p>• Adelantos de efectivo</p>
</div>
{% endblock %}